pytz
pyyaml
hashlib
markdown
django
django-filter
django-import-export
djangorestframework
django_compressor
Fabric
South
python-instagram
# https://bitbucket.org/useevil/flickrapi-oauth-fix/get/b39c8c985191.zip
flickrapi
